@using Investeer.Models.ViewModels;
@{
    ViewData["Title"] = "Welcome";
}

<div class="clearfix main-intro-home">

    <!-- ======= Intro Section ======= -->
    <div class="intro intro-carousel swiper-container position-relative">

        <div class="swiper-wrapper">

            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-1.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            Macomb
                                            <br> 37252
                                        </p>
                                        <h1 class="intro-title mb-4 ">
                                            Jefferson Ave <br>Harrison Township <br><span class="color-b">Michigan</span>
                                        </h1>
                                        <!-- <p class="intro-subtitle intro-price">
                                          <a href="#"><span class="price-a">Amount | $ 1244.000</span></a>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-2.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            Oakland
                                            <!-- <br> 78345 -->
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            Coming soon.
                                        </h1>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(assets/img/slide-3.jpg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <p class="intro-title-top">
                                            Macomb
                                            <!-- <br> 78345 -->
                                        </p>
                                        <h1 class="intro-title mb-4">
                                            Coming soon.
                                        </h1>
                                        <!-- <p class="intro-subtitle intro-price">
                                          <a href="#"><span class="price-a">Amount | $ 1234.000</span></a>
                                        </p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- End Intro Section -->


    <div class="intro-text">
        <div class="inner">
            <h3><span>Safe and Secure Investment </span> in real estate, without the hassle or expense of managing property. </h3>
            <h3>Invest as little as $10,000 for an excellent ROI.</h3>
        </div>
    </div>

</div>
<main id="main">
    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between align-items-end">
                        <div class="title-box w-75">
                            <h2 class="title-a">Portfolio</h2>
                            <p class="m-0 font-20 text-dark">Safe and Secure Investment in real estate, without the hassle or expense of managing property. Invest as little as $10,000 for an excellent ROI.</p>
                        </div>
                        <div class="title-link">
                            <a asp-controller="Home" asp-action="Portfolio">
                                View All Property
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="property-carousel" class="swiper-container">
                <div class="swiper-wrapper">

                    @if (ViewBag.macomb != null)
                    {
                        var macomb = (PropertyViewModel)ViewBag.macomb;
                        <div class="carousel-item-b swiper-slide">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="assets/img/property-6.jpg" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a asp-controller="Home" asp-action="Property" asp-route-requestProp="@macomb.ID">Macomb  </a>
                                            </h2>
                                            <p class="property-address text-light">@macomb.Address</p>
                                        </div>
                                        <div class="card-body-a">
                                            <a href="#" data-prop="@macomb.ID" class="btn btn-primary mb-3 quicksidebar">
                                                Invest
                                                <span class="bi bi-chevron-right"></span>
                                            </a>

                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-center align-self-center align-items-center">
                                                <li style="text-align: center; padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">APR</h4>
                                                    <span>6.5</span>
                                                </li>
                                                <li style="text-align: center; border-left:1px solid rgba(0, 0, 0, 0.2); padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">LTV </h4>
                                                    <span>70%</span>
                                                </li>
                                                <li style="text-align: center; border-left:1px solid rgba(0, 0, 0, 0.2); padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">Term </h4>
                                                    <span>24 </span>
                                                </li>

                                            </ul>

                                            <p class="p-3 text-center text-dark border-top-white small">30% funded by investors of total $300,000.00</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item-b swiper-slide">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="assets/img/property-6.jpg" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content" style="bottom: 0;">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="#!">Macomb  </a>
                                            </h2>
                                            <p class="property-address text-light">Coming soon.</p>
                                        </div>
                                        <div class="card-body-a">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    <!-- End carousel item -->
                    @if (ViewBag.oakland != null)
                    {
                        var oakland = (PropertyViewModel)ViewBag.oakland;
                        <div class="carousel-item-b swiper-slide">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="assets/img/property-7.jpg" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a asp-controller="Home" asp-action="Property" asp-route-requestProp="@oakland.ID">Oakland</a>
                                            </h2>
                                            <p class="property-address text-light">@oakland.Address</p>
                                        </div>
                                        <div class="card-body-a">
                                            <a href="#" data-prop="@oakland.ID" class="btn btn-primary mb-3 quicksidebar">
                                                Invest
                                                <span class="bi bi-chevron-right"></span>
                                            </a>

                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-center align-self-center align-items-center">
                                                <li style="text-align: center; padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">APR</h4>
                                                    <span>6.5</span>
                                                </li>
                                                <li style="text-align: center; border-left:1px solid rgba(0, 0, 0, 0.2); padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">LTV </h4>
                                                    <span>70%</span>
                                                </li>
                                                <li style="text-align: center; border-left:1px solid rgba(0, 0, 0, 0.2); padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">Term </h4>
                                                    <span>24 </span>
                                                </li>

                                            </ul>

                                            <p class="p-3 text-center text-dark border-top-white small">30% funded by investors of total $300,000.00</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item-b swiper-slide">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="assets/img/property-7.jpg" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content" style="bottom: 0;">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="#!">Oakland  </a>
                                            </h2>
                                            <p class="property-address text-light">Coming soon.</p>
                                        </div>
                                        <div class="card-body-a">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                    @if (ViewBag.wayne != null)
                    {
                        var wayne = (PropertyViewModel)ViewBag.wayne;
                        <div class="carousel-item-b swiper-slide">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="assets/img/property-8.jpg" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a asp-controller="Home" asp-action="Property" asp-route-requestProp="@wayne.ID">Wayne</a>
                                            </h2>
                                            <p class="property-address text-light">@wayne.Address</p>
                                        </div>
                                        <div class="card-body-a">
                                            <a href="#" data-prop="@wayne.ID" class="btn btn-primary mb-3 quicksidebar">
                                                Invest
                                                <span class="bi bi-chevron-right"></span>
                                            </a>

                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-center align-self-center align-items-center">
                                                <li style="text-align: center; padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">APR</h4>
                                                    <span>6.5</span>
                                                </li>
                                                <li style="text-align: center; border-left:1px solid rgba(0, 0, 0, 0.2); padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">LTV </h4>
                                                    <span>70%</span>
                                                </li>
                                                <li style="text-align: center; border-left:1px solid rgba(0, 0, 0, 0.2); padding-left: 13%; padding-right: 13%;">
                                                    <h4 class="card-info-title">Term </h4>
                                                    <span>24 </span>
                                                </li>

                                            </ul>

                                            <p class="p-3 text-center text-dark border-top-white small">30% funded by investors of total $300,000.00</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item-b swiper-slide">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="assets/img/property-8.jpg" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content" style="bottom: 0;">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <a href="#!">Wayne  </a>
                                            </h2>
                                            <p class="property-address text-light">Coming soon.</p>
                                        </div>
                                        <div class="card-body-a">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
            <div class="propery-carousel-pagination carousel-pagination"></div>

        </div>
    </section>
    <!-- End Latest Properties Section -->
    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8" id="process">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">TheInvesteer<sup>®</sup> Process</h2>
                            <p class="m-0 font-20 text-dark">Our goal is to democratize residential real estate investing, making it easier for you to compare and review deals, finding the right projects for your portfolio, and tracking the performance of your investments.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <img src="assets/img/step1.png" alt="" class="img-fluid">
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Browse <br>Deals</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Review active deals on TheInvesteer Marketplace and find one that matches your investment objectives.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <img src="assets/img/step2.png" alt="" class="img-fluid">
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Submit <br>Your Offer</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Once you find a match, choose your investment amount and investment period and securely submit your offer. Our team will connect with you to close the deal.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-c foo">
                        <div class="card-header-c d-flex">
                            <div class="card-box-ico">
                                <!-- <span class="bi bi-chevron-right"></span> -->
                                <img src="assets/img/step3.png" alt="" class="img-fluid">
                            </div>
                            <div class="card-title-c align-self-center">
                                <h2 class="title-c">Manage Your Investment</h2>
                            </div>
                        </div>
                        <div class="card-body-c">
                            <p class="content-c">
                                Now you own direct equity in residential real estate property. Monitor your investment online and grow your portfolio over time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Agents Section ======= -->
    <section class="section-agents section-t8">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-wrap d-flex justify-content-between">
                        <div class="title-box">
                            <h2 class="title-a">Area Served</h2>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="assets/img/oakland.jpg" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d">
                                        <a href="#!" class="link-two text-light">Oakland County, Michigan</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body-d">
                                <p class="content-d text-light">
                                    Coming Soon.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="assets/img/macomb.jpg" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d">
                                        <a href="#!" class="link-two text-light">Macomb County, Michigan</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body-d">
                                <p class="content-d text-light">
                                    Coming Soon.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-box-d">
                        <div class="card-img-d">
                            <img src="assets/img/wayne.jpg" alt="" class="img-d img-fluid">
                        </div>
                        <div class="card-overlay card-overlay-hover">
                            <div class="card-header-d">
                                <div class="card-title-d align-self-center">
                                    <h3 class="title-d">
                                        <a href="#!" class="link-two text-light">Wayne County, Michigan</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body-d">
                                <p class="content-d text-light">
                                    Coming Soon.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@await Html.PartialAsync("_QuickContact")
