@model PropertyViewModel;
@{
    ViewData["Title"] = "Property Details";
}

<main id="main">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single prop-detail-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">@Html.DisplayFor(x => x.County)</h1>
                        <span class="color-text-a">@Html.DisplayFor(x => x.Address)</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Portfolio">Portfolio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @Html.DisplayFor(x => x.County)
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <ul class="nav nav-pills-a nav-pills mb-3" id="pills-tab" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="pills-plans-tab" data-bs-toggle="pill" href="#pills-plans" role="tab" aria-controls="pills-plans" aria-selected="true">Photo Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-video-tab" data-bs-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="false">Video</a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link" id="pills-map-tab" data-bs-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="false">Ubication</a>
                        </li> -->
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">

                            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                                 class="swiper-container mySwiper2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="../assets/img/macomb-01.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/img/macomb-02.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/img/macomb-01.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/img/macomb-02.jpg" alt="">
                                    </div>

                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                            @*<div thumbsSlider="" class="swiper-container mySwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="../assets/img/macomb-01.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/img/macomb-02.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/img/macomb-01.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="../assets/img/macomb-02.jpg" alt="">
                                    </div>

                                </div>
                            </div>*@
                        </div>
                        <div class="tab-pane fade" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                            <iframe src="https://player.vimeo.com/video/73221098" width="100%" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="row justify-content-between">
                        <div class="col-md-5 col-lg-4">

                            <div class="property-summary">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d section-t4">
                                            <h3 class="title-d">Property facts</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-list">
                                    <ul class="list">
                                        @*<li class="d-flex justify-content-between">
                                            <strong>Property ID:</strong>
                                            <span>@Html.DisplayFor(x => x.ID)</span>
                                        </li>*@
                                        <li class="d-flex justify-content-between address-box">
                                            <strong class="address-title">Listing Address:</strong>
                                            <span class="address-span">@Html.DisplayFor(x => x.Address)</span>
                                        </li>

                                        <li class="d-flex justify-content-between">
                                            <strong>Status:</strong>
                                            <span>@Html.DisplayFor(x => x.Status)</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Area:</strong>
                                            <span>@Html.DisplayFor(x => x.Area)</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Bed Count:</strong>
                                            <span>@Html.DisplayFor(x => x.BedCount)</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Bath Count:</strong>
                                            <span>@Html.DisplayFor(x => x.BathCount)</span>
                                        </li>

                                        <li class="d-flex justify-content-between">
                                            <strong>Listing Price:</strong>
                                            <span>@String.Format("{0:C2}", double.TryParse(Model.ListedPrice, out double ListedPrice) ? ListedPrice : 0)</span>
                                        </li>
                                        <li class="d-flex justify-content-between mb-1">
                                            <strong class="head">Property Loan</strong>
                                        </li>
                                        <li class="d-flex justify-content-between mb-1">
                                            <div class="pl-2">- Capitalization Rate:</div>
                                            <span>@String.Format("{0:P2}", double.TryParse(Model.LoanRate, out double LoanRate) ? LoanRate : 0)</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <div class="pl-2">- Cash on Cash Return:</div>
                                            <span>@String.Format("{0:P2}", double.TryParse(Model.LoanReturn, out double LoanReturn) ? LoanReturn : 0)</span>
                                        </li>
                                        <li class="d-flex justify-content-between mb-1">
                                            <strong class="head">Cash Offer</strong>
                                        </li>
                                        <li class="d-flex justify-content-between mb-1">
                                            <div class="pl-2">- Capitalization Rate:</div>
                                            <span>@String.Format("{0:P2}",double.TryParse(Model.CashRate,out double CashRate) ? CashRate : 0)</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <div class="pl-2">- Cash on Cash Return:</div>
                                            <span>@String.Format("{0:P2}", double.TryParse(Model.CashReturn, out double CashReturn) ? CashReturn : 0)</span>
                                        </li>
                                    </ul>
                                    <hr>
                                    <a href="#" data-prop="@Html.DisplayFor(x => x.ID)" class="btn btn-primary mb-3 quicksidebar">
                                        Invest
                                        <span class="bi bi-chevron-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d section-t4 prop-detail">
                                        <h3 class="title-d">Property Description</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                <p class="description color-text-a">
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit
                                    neque, auctor sit amet
                                    aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum porta.
                                    Curabitur aliquet quam id dui posuere blandit. Mauris blandit aliquet elit, eget tincidunt
                                    nibh pulvinar quam id dui posuere blandit.
                                </p>
                                <p class="description color-text-a no-margin">
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget
                                    malesuada. Quisque velit nisi,
                                    pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
                                </p>
                            </div>
                            <div class="row section-t3">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Amenities</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="amenities-list color-text-a">
                                <ul class="list-a no-margin">
                                    <li>Balcony</li>
                                    <li>Outdoor Kitchen</li>
                                    <li>Cable Tv</li>
                                    <li>Deck</li>
                                    <li>Tennis Courts</li>
                                    <li>Internet</li>
                                    <li>Parking</li>
                                    <li>Sun Room</li>
                                    <li>Concrete Flooring</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

</main>

@await Html.PartialAsync("_QuickContact",new QuickContactViewModel())